# This gitignore is a whitelist - everything is ignored by default.
# Only explicitly listed files and directories will be tracked.

# Ignore everything.

*

!*/

# The second line is needed because whitelisting isn’t as simple as blocking. 
# Because of the way Git handles these files, if it sees a directory is blocked,
# it won’t even try to check anything in the directory to see if it was unblocked later.
# It simply skips it and ignores all rules inside that directory.

# Whitelisting specific files

!.gitignore
!.gitattributes

!Packages/manifest.json
!Packages/packages-lock.json

# whitelist everything in these folders.
# * to whitelist just the directory contents, but not subdirectories.
# ** to include subdirectories.

!Assets/**
!ProjectSettings/**

# Just for vanilla-plus/upm-dev-env, we want to track all the contents of Packages.
# This shouldn't be included in regular Unity project repo.
!Packages/**

Library/**
.idea/**